.areas-phone {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .baner-filter {
    display: flex;
    flex-direction: column;

    .area-baner {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 16px 16px 16px 16px;

      .pwa-menu {
        padding: 16px 16px 0px 16px;

        svg {
          path {
            fill: black;
          }
        }

        .burger-menu {
          svg:last-child {
            path {
              fill: #C29773;
            }
          }
        }
      }
    }

    .filter-menu  {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px 0px 16px 0px;
      border-bottom: 2px solid #E1E1E1;

      .input-container {
        padding: 0px 16px;
        .input {
          display: flex;
          align-items: center;
          gap: 14px;
          padding: 14px 12px 14px 16px;

          border-radius: 4px;
          border: 1px solid #CACACA;

          svg {
            flex-shrink: 0;
          }

          input {
            height: 16px;
            color: #8E8E8E;
            leading-trim: both;
            text-edge: cap;
            font-family: Onest;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.2px; /* 137.143% */
            width: 100%;
            outline: none;
            border: 0;
            background: transparent;
          }
        }
      }

      .filter-buttons {
        display: flex;
        gap: 8px;
        padding: 0px 16px;
        flex-wrap: wrap;

        .filter-button {
          display: flex;
          align-items: center;
          padding: 14px 12px 14px 16px;
          border-radius: 4px;
          border: 1px solid #CACACA;
          justify-content: space-between;
          flex: 1;
          gap: 10px;

          &:first-child {
            min-width: 88px;
          }


          color: #000;
          leading-trim: both;
          text-edge: cap;
          font-family: Onest;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 19.2px;

          svg {
            flex-shrink: 0;
          }
        }
      }

      .areas-buttons {
        display: flex;
        gap: 8px;
        overflow: scroll;
        margin: 0px 0px 0px 16px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
          display: none;
        }

        .area-button {
          display: flex;
          padding: 12px 12px 12px 16px;
          align-items: center;
          gap: 16px;
          border-radius: 4px;
          border: 1px solid #CACACA;

          div:first-child {
            color: #000;
            leading-trim: both;
            text-edge: cap;
            font-family: Onest;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.2px; /* 137.143% */
            white-space: nowrap;
          }

          div:last-child {
            overflow: hidden;
            color: #808080;
            text-align: right;
            leading-trim: both;
            text-edge: cap;
            font-family: Onest;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px; /* 135.714% */
            white-space: nowrap;
          }
        }
      }

      .area-prices {
        padding: 16px 16px 8px 16px;
        .text {
          color: #000;
          leading-trim: both;
          text-edge: cap;
          font-family: Onest;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 19.2px;

          span {
            color: #000;
            leading-trim: both;
            text-edge: cap;
            font-family: Onest;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 19.2px;
          }
        }
      }
    }
  }

  .title-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px 0px 16px;

    .title {
      color: #000;
      font-family: Onest;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }

    .description {
      color: #575757;
      font-family: Onest;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      span {
        color: var(--ProPart-Beige, #C29773);
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .areas-phone-cards {
    display: flex;
    overflow: scroll;
    padding: 0px 0px 0px 16px;
    gap: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }

    .areas-phone-card {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      min-width: 220px;

      .image {
        position: relative;
        width: 100%;

        img {
          width: 100%;
        }

        .price {
          position: absolute;
          top: 8px;
          right: 8px;
          padding: 4px 8px;
          color: var(--ProPart-Beige, #C29773);
          font-family: Onest;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.5px;

          border-radius: 4px;
          border: 1px solid #EAEAEA;
          background: #FFF;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name {
          color: var(--ProPart-Blue, #191C38);
          font-family: Onest, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 800;

          line-height: 120%; /* 19.2px */
        }

        div:last-child {
          color: #575757;
          font-family: Onest, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400!important;
          line-height: 120%;
        }
      }
    }
  }

  .offers {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tittle {
        color: #191C38;
        font-family: Onest, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
      }

      .see-more {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #EAEAEA;
        background: #FFF;

        /* Light Shadow */
        box-shadow: 0px 2px 67.4px -1px rgba(0, 0, 0, 0.09);
        color: #191C38;
        leading-trim: both;
        text-edge: cap;
        font-family: Onest, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 19.2px; /* 137.143% */
      }
    }

    .offer-content {
      .swiper-pagination {
        position: unset;
      }

      .swiper {
        gap: 16px;
        display: flex;
        flex-direction: column;
      }

      .swiper-pagination-bullet-active {
        background: var(--ProPart-Blue, #191C38) !important;
        opacity: unset !important;
      }

      .swiper-pagination-bullet {
        border-radius: 4px;
        border: 1px solid var(--ProPart-Blue, #191C38);
        opacity: 0.4;
        background: #FFF;

      }
    }
  }

  .top-five {
    padding: 0px 16px 0px 16px;

    .title {
      display: flex;
      flex-direction: column;
      gap: 8px;

      > div:first-child {
        color: #000;
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }

      .description {
        color: #575757;
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        span {
          color: var(--ProPart-Beige, #C29773);
          font-family: Onest;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }

  .big-area-card-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 16px;

    .big-area-card {
      border-radius: 8px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      &:before {
        content: "";
        position: absolute;
        border-radius: 8px;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0.6) 89.45%);
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 10;
        top: 0;
        padding: 17px 17px 22px 17px;

        .top-info {
          display: flex;
          justify-content: space-between;

          .info {
            display: flex;
            flex-direction: column;
            gap: 3px;

            .info-block {
              display: flex;
              gap: 6px;

              div {
                color: #FFF;
                font-family: Onest;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.4px;
              }
            }
          }

          svg {
            flex-shrink: 0;
          }
        }

        .bottom-info {
          .title {
            display: flex;
            flex-direction: column;

            div:first-child {
              color: #EBEBEB;
              font-family: Onest;
              font-size: 36px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -0.5px;
            }

            div:last-child {
              color: #EBEBEB;
              font-family: Onest;
              font-size: 14px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              letter-spacing: -0.5px;
            }
          }
        }
      }
    }


  }

  .get-in-touch{
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .prompt{
      display: flex;
      flex-direction: column;
      gap: 4px;
      .tittle{
        color: var(--ProPart-Blue, #191C38);
        font-family: Onest,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
      }
      .description{
        color: #000;
        font-family: Onest,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.8;
      }
    }

    .content{
      display: flex;
      flex-direction: column;
      gap: 6px;
      .input{
        display: flex;
        padding: 14px var(--Padding-Small, 12px) 14px 16px;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 4px;
        border: 1px solid #CACACA;

        input{
          flex: 1;
          border: none;
          background: none;
          outline: none;
          color: var(--ProPart-Blue, #191C38);
          leading-trim: both;
          text-edge: cap;
          font-family: Onest,sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.56px;
        }
        &.active{
          border-radius: 4px;
          border: 2px solid var(--ProPart-Blue, #191C38);
          svg{
            path{
              fill: #C29773;
            }
          }
        }
      }
      .send{
        display: flex;
        justify-content: space-between;

        padding: 14px var(--Padding-Small, 12px) 14px 16px;
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Onest,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-items: center;
        flex: 1 0 0;
        border-radius: 4px;
        background: var(--ProPart-Blue, #191C38);
      }
    }
  }

  .statistics-info {
    padding: 0px 16px 0px 0px;
    height: 323px;

    .custom-tooltip {
      height: fit-content;
      width: fit-content;
      background: #fff;

      .desc {
        color: #000;
        font-family: Onest;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.64px;
      }

      border-radius:2px;
      padding: 10px;
    }
    img {
    }
  }
}